{% extends '@TwigTemplate/base.html.twig' %}

{% block body %}

    <div class="alert alert-danger">
        Something went wrong
    </div>

{% endblock body %}

{% block title %}An Error Occurred{% endblock %}