
###> symfony/framework-bundle ###
/symf-proj/.env.local
/symf-proj/.env.local.php
/symf-proj/.env.*.local
/symf-proj/public/bundles/
/symf-proj/var/
/symf-proj/vendor/
/mysql/
/logs/
###< symfony/framework-bundle ###
