{% extends '@TwigTemplate/base.html.twig' %}

{% block body %}

    <h1>Beats list</h1>
    <h2>Random beats:</h2>
    {% for beatNumber in beats %}
        <p>
            <a href="{{ path('beatsDetail', {id: beatNumber}) }}">
                Beat #{{ beatNumber }}
            </a>
        </p>
    {% endfor %}

{% endblock body %}

{% block title %}Beats list{% endblock %}