{% extends '@TwigTemplate/base.html.twig' %}

{% block body %}

    <h1>Beats list</h1>
    {% for beat in beats %}
        <p>
            <a href="{{ path('beatsDetail', {id: beat.getId() }) }}">
                {{ beat.getTitle() }} by {{ beat.getUserId() }}
            </a>
        </p>
    {% endfor %}

{% endblock body %}

{% block title %}Beats list{% endblock %}