{% extends '@TwigTemplate/base.html.twig' %}

{% block body %}

    <h1>Categories</h1>

    {% set vars = [] %}
    {% for category in categories %}
        {% set vars = vars|merge([{
            'obj': category,
            'link': path('categoryDetail', {id: category.id})
        }]) %}
    {% endfor %}

    {% include '@TwigTemplate/main/index_count_lists/list/list.html.twig' with {
        items: vars
    } %}

{% endblock body %}

{% block title %}Categories{% endblock %}