parameters:
    excludes_analyse:
        - ./src/Migrations/*
    autoload_files:
        - ./bin/.phpunit/phpunit-7.5-0/vendor/autoload.php

includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon